<h1>About<h1>
<p> 
	<%= link_to "Team Interval PIC", "http://teaminterval.com" %>
	is a Project to learn
	<%= link_to "Ruby on Rails", "http://rubyonrails.com" %> 
	in one month. Im going to kick a**!
</p> 
